h1 {
    color: var(--sidebar-color);
    text-align: left;
}

p {
    color: var(--sidebar-color-hover);
    line-height: 1.6;
}

.landing-content {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: var(--bg-light);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.about {
    width: 50%;
    margin-top: 120px;
}
