/* Colors */
:root {
    --primary-light: #3f51b5;
    --primary-dark: #303f9f;
    --accent-light: #ff4081;
    --accent-strong: #f50057;
}

.active {
    background-color: var(--accent-strong);
}

.my-foot {
    text-align: center;
    margin-top: 0; /* You might want to specify a value here */
}

.my-text p {
    font-size: 25px;
}

.my-text {
    color: var(--primary-light);
    font-family: "Open Sans Condensed", sans-serif;
}

.my-text h2 {
    font-size: 70px;
}

.my-text a {
    color: var(--accent-light);
}

body,
html {
    width: 100%;
    height: 100%;
}

a:hover {
    text-decoration: none;
}

body {
    padding-top: 50px;
    word-wrap: break-word;
    background-color: #f8f8f8;
}

.navbar {
    background-color: var(--primary-light);
}

.navbar .navbar-brand {
    color: black;
    opacity: 0.7;
    font-family: "Bungee Inline", cursive;
    font-size: 2.2em;
    transition: all 0.2s cubic-bezier(0.56, 0.03, 0.51, 2.28);
    transform: scale(1);
}

.navbar .navbar-brand:hover {
    color: #000;
    opacity: 0.8;
    transform: scale(1.2);
}

.navbar ul > li > .page-scroll {
    color: black;
    transition: all 0.2s cubic-bezier(0.56, 0.03, 0.51, 2.28);
}

.navbar ul > li > .page-scroll:hover {
    color: #224;
    transform: scale(1.1);
}

.margin-left {
    margin-left: 20px;
}

.section {
    border-top: 1px solid grey;
}

.about-me {
    padding: 50px 0;
}

.portfolio {
    text-align: center;
}

.contact-me {
    text-align: center;
}

.input-group {
    margin-bottom: 14px;
}

.contact-message {
    text-align: left;
    font-size: 1.2em;
    font-style: bold;
}

@media (min-width: 767px) {
    .navbar {
        padding: 20px 0;
        transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
    }

    .top-nav-collapse {
        padding: 0;
    }
}

.inme {
    display: inline-block;
    height: 120px;
    width: 0px;
    text-align: center;
    vertical-align: middle;
    overflow: hidden;
    overflow-wrap: normal;
    white-space: nowrap;
    transition: all 0.2s cubic-bezier(0.56, 0.03, 0.51, 2.28);
}

.inme h2 {
    display: inline;
}

.brack-animation {
    text-align: center;
}

.brack-animation > h2 {
    font-weight: normal;
    font-size: 60px;
    display: inline;
}

.brack-animation > .op,
.brack-animation > .cl {
    font-size: 100px;
    display: inline;
    color: var(--primary-dark);
}

.brackets-animation.inme-port {
    width: 250px;
    transition: all 0.2s cubic-bezier(0.56, 0.03, 0.51, 1.6);
}

.brackets-animation.inme-cont {
    width: 550px;
    transition: all 0.2s cubic-bezier(0.56, 0.03, 0.51, 1.6);
}

.blue {
    color: red;
    background-color: red;
}

.social {
    text-align: center;
    font-size: 25px;
}

.social a {
    display: inline-block;
    width: 50px;
    height: 50px;
    line-height: 53px !important;
    position: relative;
    margin: 0 10px;
    color: #111;
    transition: all 0.27s cubic-bezier(0.3, 0.1, 0.58, 1);
}

.social a:hover {
    color: #fff;
}

.social a:hover:before {
    background-color: #111;
}

.social a i {
    position: relative;
    top: 0px;
    left: 0px;
}

.social a:before {
    content: "";
    display: inline-block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border: 1px solid #111;
    border-radius: 2px;
    transform: rotate(45deg);
    transition: all 0.27s cubic-bezier(0.3, 0.1, 0.58, 1);
}

/* <div class="my-text brack-animation">
<div class="op">[</div>
<div class="inme inme-port">
    <h2 class="">Syntax</h2>
</div>
<div class="cl">]</div>
</div> */
