#commentForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

#commenttitle {
    font-size: 24px;
    margin-bottom: 40px;
}

#comments-list {
    font-size: 14px;
    margin: 0px;
    margin-bottom: 40px;
}

#addcomment {
    margin-bottom: 10px;
    font: var(--font);
    font-size: 18px;
}

#comment {
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 8px;
    resize: none;
    font: var(--font);
    font-size: 14px;
}

.commentsubmit {
    font-size: 14px;
    font-family: var(--font);
    background-color: var(--btn-color-dark);
    border: none;
    border-radius: 8px;
    color: white;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    margin-right: 10px;
    margin-top: 5px;
    width: 20%;
}

.commentsubmit:hover {
    background-color: var(--btn-color-hover-dark);
}

#comment-text {
    margin: 0;
}

#comment-info {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
}

#ratingText {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 5px;
    font-size: 14px;
}

#ratingForm {
    display: flex;
    gap: 10px;
    font-size: 14px;
    font-family: var(--font);
    align-items: center;
    justify-content: flex-end;
}

#ratingForm input[type="number"] {
    width: 30px;
    padding: 5px;
    font-size: 14px;
    font-family: var(--font);
    border-radius: 5px;
    border: none;
}

#ratingForm .button.ratingSubmit {
    background-color: var(--btn-color-dark);
    color: white;
    padding: 10px 10px;
    font-size: 14px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}

#ratingForm .button.ratingSubmit:hover {
    background-color: var(--btn-color-hover-dark);
}
