#question-title {
    width: 100%;
    font-size: var(--font-size);
    padding: 20px;
    box-sizing: border-box;
    resize: none;
    border-radius: 10px;
    border: none;
}

#question-description {
    width: 100%;
    font-size: var(--font-size);
    padding: 20px;
    box-sizing: border-box;
    resize: none;
    border-radius: 10px;
    border: none;
}

#question-code {
    width: 100%;
    font-size: var(--font-size);
    padding: 20px;
    box-sizing: border-box;
    resize: none;
    border-radius: 10px;
    border: none;
}

#question-description,
#question-code {
    min-height: 5rem;
    height: auto;
}

#question-title-output {
    font-size: var(--font-size);
    color: var(--bg-dark);
    background-color: field;
    padding: 20px;
    border-radius: 20px;
}

#question-description-output {
    font-size: var(--font-size);
    color: var(--bg-dark);
    background-color: field;
    padding: 20px;
    border-radius: 20px;
}

#question-code-output {
    font-size: var(--font-size);
    color: var(--bg-dark);
    background-color: field;
    padding: 20px;
    border-radius: 20px;
}

pre code {
    font-size: var(--font-size);
    color: var(--bg-dark);
    background-color: field;
    padding: 20px !important;
    border-radius: 20px;
    margin-bottom: 20px;
}

pre {
    white-space: pre;
}

#code-output {
    width: 100%;
}
