body {
    margin: 0;
    font-family: var(--font);
    font-size: medium;
}

nav {
    top: 0;
    background-color: var(--sidebar-color-dark);
    overflow: hidden;
    position: fixed;
    width: 100%;
}

nav a {
    display: block;
    color: white;
    text-align: center;
    padding: 15px 16px;
    text-decoration: none;
    cursor: pointer;
    z-index: 1;
}

nav a.navbar {
    padding: 0;
}

nav a.button {
    background-color: var(--btn-color-dark);
    border: none;
    border-radius: 8px;
    color: white;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    margin-right: 10px;
    margin-top: 5px;
}

nav a.button:hover {
    background-color: var(--btn-color-hover-dark);
}

.flex-left {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.flex-right {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

.navflex {
    display: flex;
    justify-content: space-between;
    height: 70px;
    z-index: 1000;
    position: relative;
}

.innerplaceholder {
    display: inline-block;
    width: 20px;
    text-align: center;
    vertical-align: middle;
    overflow: hidden;
    overflow-wrap: normal;
    white-space: nowrap;
    transition: all var(--logoanim) ease;
    font-weight: bolder;
    color: var(--bg-light);
    padding-left: 10px;
    padding-right: 10px;
}

.inner {
    display: inline-block;
    width: 0px;
    text-align: center;
    vertical-align: middle;
    overflow: hidden;
    overflow-wrap: normal;
    white-space: nowrap;
    transition: all var(--logoanim) ease;
    font-weight: bolder;
    color: var(--bg-light);
    transition-delay: 0.3s;
}

.bracket-animation {
    margin-left: 20px;
    text-align: center;
}

.bracket-animation:hover {
    padding-right: 86px;
}

.bracket-animation:hover .innerplaceholder {
    width: 0px;
    padding: 0px;
}

.bracket-animation:hover .inner {
    width: 126px;
}

.bracket-animation > .left,
.bracket-animation > .right {
    font-size: 30px;
    display: inline;
    text-align: center;
    vertical-align: middle;
    overflow: hidden;
    overflow-wrap: normal;
    white-space: nowrap;
    color: var(--btn-color-dark);
}

h3 {
    font-size: 30px;
    margin: 0;
}

.logodescription {
    font-size: 8px;
    margin: 0;
}

@media screen and (max-width: 550px) {
    .flex-right {
        display: none;
    }
}
