:root {
    --bg-light: #d9d9d9;
    --bg-dark: #505050;
    --hamburger-color: #333;
    --hamburger-color-hover: #555;
    --btn-color-light: #f57542;
    --btn-color-hover-light: #a65534;
    --btn-color-dark: #4c4aff;
    --btn-color-hover-dark: #7977ff;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    font-size: medium;
}

nav {
    background-color: var(--hamburger-color);
    overflow: hidden;
    position: fixed;
    width: 100%;
}

.logo img {
    width: 180px;
    height: 38px;
    margin-top: 5px;
    margin-left: 10px;
}

nav a {
    display: block;
    color: white;
    text-align: center;
    padding: 15px 16px;
    text-decoration: none;
    cursor: pointer;
}

nav a.button {
    background-color: var(--btn-color-dark);
    border: none;
    border-radius: 8px;
    color: white;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    margin-right: 10px;
    margin-top: 5px;
}

nav a.button:hover {
    background-color: var(--btn-color-hover-dark);
    color: white;
}

.flex-left {
    display: flex;
    justify-content: flex-start;
}

.flex-right {
    display: flex;
    flex-direction: row-reverse;
}

.navflex {
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width: 550px) {
    .flex-right {
        display: none;
    }
}
