.newquestioncontent {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    flex-direction: column;
}

.newquestion-container {
    width: 80%;
    margin-top: 10svh;
}

.description,
.code {
    /* other styles */
    min-height: 30rem; /* replace with your desired minimum height */
    height: auto;
}

.title {
    padding: 20px;
    width: 100%;
    border-radius: 20px;
    background-color: var(--bg-light);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.description {
    margin-top: 5rem;
    padding: 20px;
    width: 100%;
    border-radius: 20px;
    background-color: var(--bg-light);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.code {
    margin-top: 5rem;
    padding: 20px;
    border-radius: 20px;
    background-color: var(--bg-light);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.tags {
    margin-top: 5rem;
    padding: 20px;
    width: 100%;
    border-radius: 20px;
    background-color: var(--bg-light);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 50px;
}

#description,
#code {
    min-height: 200px;
    height: auto;
}

#title {
    resize: none;
    width: 100%;
    height: 50px;
    border-radius: 20px;
    border: none;
    font-family: var(--font);
    font-size: var(--font-size);
    padding: 20px;
    box-sizing: border-box;
    overflow: hidden;
    white-space: nowrap;
}

#title-output {
    font-size: var(--font-size);
    color: var(--bg-dark);
    background-color: field;
    padding: 20px;
    border-radius: 20px;
}

#description {
    resize: none;
    width: 100%;
    border-radius: 20px;
    border: none;
    font-family: var(--font);
    padding: 20px;
    box-sizing: border-box;
    font-size: var(--font-size);
    margin-bottom: 20px;
}

#description-output {
    font-size: var(--font-size);
    color: var(--bg-dark);
    background-color: field;
    padding: 20px;
    border-radius: 20px;
}

#code {
    resize: none;
    width: 100%;
    border-radius: 20px;
    border: none;
    font-family: var(--font);
    padding: 20px;
    box-sizing: border-box;
    font-size: var(--font-size);
}

pre code {
    font-size: var(--font-size);
    color: var(--bg-dark);
    background-color: field;
    padding: 20px;
    border-radius: 20px;
}

#tags {
    resize: none;
    width: 100%;
    height: 50px;
    border-radius: 10px;
    border: none;
    font-family: var(--font);
    padding: 20px;
    font-size: var(--font-size);
    box-sizing: border-box;
    overflow: hidden;
    white-space: nowrap;
}

.question-submit {
    font-family: var(--font);
    transition-duration: var(--duration);
    border: none;
    background-color: var(--btn-color-dark);
    color: var(--bg-light);
    cursor: pointer;
    padding: 15px;
    border-radius: 10px;
    font-size: var(--font-large);
    text-decoration: none;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.question-submit:hover {
    background-color: var(--btn-color-hover-dark);
}
