:root {
    --bg-light: #d9d9d9;
    --bg-dark: #505050;
    --hamburger-color: #333;
    --hamburger-color-hover: #555;
    --btn-color-light: #f57542;
    --btn-color-hover-light: #a65534;
    --btn-color-dark: #4c4aff;
    --btn-color-hover-dark: #7977ff;
}

.registration-container {
    width: 80%;
    max-width: 463px;
    background-color: var(--bg-light);
    padding: 30px;
    border-radius: 16px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    margin-top: 10rem;
}

form {
    display: flex;
    flex-direction: column;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

label {
    margin-bottom: 8px;
}

input {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 11px;
    box-sizing: border-box;
}

button {
    background-color: var(--btn-color-dark);
    color: white;
    padding: 10px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    transition-duration: 0.4s;
    font-family: "IBM Plex Mono", sans-serif;
}

.button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.button span:after {
    content: "\00bb";
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.button:hover span {
    padding-right: 25px;
}

.button:hover span:after {
    opacity: 1;
    right: 0;
}

@media only screen and (max-width: 600px) {
    .registration-container {
        width: 100%;
    }
}

.registration-center {
    display: flex;
    justify-content: center;
    align-content: center;
}
