@import url("https://fonts.googleapis.com/css?family=IBM+Plex+Mono");

/* Project colours:
    Background light: #D9D9D9
    Background dark: #505050
    btn colour: #f57542 */

body {
    font-family: "IBM Plex Mono", sans-serif;
    background-color: #505050;
}

h1 {
    display: flex;
    justify-content: center;
}

.landing-content {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #d9d9d9;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.landing-content h1 {
    color: #333;
}

.landing-content p {
    color: #555;
    line-height: 1.6;
}

.left-menu {
    background-color: #333;
    padding-top: 50px;
    flex-shrink: 0;
    width: 200px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
}

.left-menu a {
    padding: 20px;
    color: white;
    text-decoration: none;
    transition: background-color 0.3s;
}

.left-menu a:hover {
    background-color: #555;
}
