@import url("https://fonts.googleapis.com/css?family=IBM+Plex+Mono");

:root {
    --bg-light: #d9d9d9;
    --bg-dark: #505050;
    --sidebar-color: #333;
    --sidebar-color-hover: #555;
    --btn-color-light: #f57542;
    --btn-color-hover-light: #a65534;
    --btn-color-dark: #4c4aff;
    --btn-color-hover-dark: #7977ff;
    --font: "IBM Plex Mono", sans-serif;
}

body {
    font-family: var(--font);
    background-color: var(--bg-dark);
}

.alert {
    display: none;
}

h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin: 0px;
}

@media screen and (max-width: 550px) {
    .sidebar {
        display: none;
    }
}
