@import url("https://fonts.googleapis.com/css?family=IBM+Plex+Mono");

:root {
    --bg-light: #d9d9d9;
    --bg-dark: #505050;
    --sidebar-color: #333;
    --sidebar-color-hover: #555;
    --btn-color-light: #f57542;
    --btn-color-hover-light: #a65534;
    --btn-color-dark: #4c4aff;
    --btn-color-hover-dark: #9290ff;
    --font: "IBM Plex Mono", sans-serif;
    --font-size: 12px;
    --font-large: 20px;
    --duration: 0.3s;
    --logoanim: 1s;
}

body {
    font-family: var(--font);
    background-color: var(--bg-dark);
}

.alert {
    display: none;
    color: red;
}

h1 {
    text-align: center;
    align-items: center;
    align-content: center;
    margin: 0px;
}

h2 {
    font-size: var(--font-large);
    margin: 0;
}

.container {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    margin-top: 70px;
}

.content {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    margin-left: 200px;
}

.maintitle {
    font-size: 26px;
    margin-top: 10svh;
    color: var(--bg-light);
}

.profile_picture {
    width: 100px;
    aspect-ratio: 1;
    border-radius: 50%;
}
